@use '../../_variables' as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: $main-background;
  color: #f8fafc;
  padding: 0 20px;
  font-family: $primary-font;

  .hero-content {
    max-width: 1000px;

    .hero-logo {
      display: block;
      max-width: 100%;
      height: auto;
      width: 100%; /* adjust to taste */
      margin-top: -15rem;
    }

    p {
      font-size: 2rem;
      margin-top: -10rem;
      margin-bottom: 2rem;
      color: #cbd5e1;
    }

    .btn-primary {
      background-color: #3b82f6;
      color: #fff;
      padding: 0.8rem 2rem;
      border-radius: 0.5rem;
      text-decoration: none;
      font-weight: 600;
      transition: background 0.3s;

      &:hover {
        background-color: #2563eb;
      }
    }
  }
}